################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs/EasyLog/v16/Server/sqlite3/db.lock
/.vs/easylog/v16/TestStore/0/testlog.manifest
/.vs/easylog/v16/TestStore/0/000-0000.testlog
/.vs/EasyLog/v16/TestStore/0/testlog.manifest
/.vs/EasyLog/v16/TestStore/0/000-0000.testlog
/.vs/EasyLog/v16/Server/sqlite3/storage.ide-wal
/.vs/EasyLog/v16/Server/sqlite3/storage.ide-shm
/.vs/EasyLog/v16/Server/sqlite3/storage.ide
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/EasyLog/source/bin/Debug/netstandard2.0/EasyLog.pdb
/EasyLog/source/bin/Debug/netstandard2.0/EasyLog.dll
/EasyLog/source/bin/Debug/netstandard2.0/EasyLog.deps.json
/EasyLog/source/obj/EasyLog.csproj.nuget.g.targets
/EasyLog/source/obj/EasyLog.csproj.nuget.g.props
/EasyLog/source/obj/EasyLog.csproj.nuget.dgspec.json
/EasyLog/source/obj/EasyLog.csproj.nuget.cache
/EasyLog/source/obj/Release/netstandard2.0/EasyLog.AssemblyInfoInputs.cache
/EasyLog/source/obj/Release/netstandard2.0/EasyLog.AssemblyInfo.cs
/EasyLog/source/obj/project.assets.json
/EasyLog/source/obj/Debug/netstandard2.0/EasyLog.pdb
/EasyLog/source/obj/Debug/netstandard2.0/EasyLog.dll
/EasyLog/source/obj/Debug/netstandard2.0/EasyLog.csproj.FileListAbsolute.txt
/EasyLog/source/obj/Debug/netstandard2.0/EasyLog.assets.cache
/EasyLog/source/obj/Debug/netstandard2.0/EasyLog.AssemblyInfoInputs.cache
/EasyLog/source/obj/Debug/netstandard2.0/EasyLog.AssemblyInfo.cs
*.cache
/ChristiAndersen.Easylog/source/bin/Debug/netstandard2.0
/ChristiAndersen.Easylog/source/.vs/ChristiAndersen.Easylog
/ChristiAndersen.Easylog/source/obj
/ChristiAndersen.Easylog/source/.vs/Easylog/v16/Server/sqlite3
/ChristiAndersen.Easylog/source/bin/Release/netstandard2.0
/ChristiAndersen.Easylog/source/Properties/PublishProfiles
/ChristiAndersen.Easylog/source/EasyLog.csproj.user
