################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs/ChristiAndersen.Easylog/v16/Server/sqlite3/db.lock
/.vs/easylog/v16/TestStore/0/testlog.manifest
/.vs/easylog/v16/TestStore/0/000-0000.testlog
/.vs/ChristiAndersen.Easylog/v16/TestStore/0/testlog.manifest
/.vs/ChristiAndersen.Easylog/v16/TestStore/0/000-0000.testlog
/.vs/ChristiAndersen.Easylog/v16/Server/sqlite3/storage.ide-wal
/.vs/ChristiAndersen.Easylog/v16/Server/sqlite3/storage.ide-shm
/.vs/ChristiAndersen.Easylog/v16/Server/sqlite3/storage.ide
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/ChristiAndersen.Easylog/source/bin/Debug/netstandard2.0/ChristiAndersen.Easylog.pdb
/ChristiAndersen.Easylog/source/bin/Debug/netstandard2.0/ChristiAndersen.Easylog.dll
/ChristiAndersen.Easylog/source/bin/Debug/netstandard2.0/ChristiAndersen.Easylog.deps.json
/ChristiAndersen.Easylog/source/obj/ChristiAndersen.Easylog.csproj.nuget.g.targets
/ChristiAndersen.Easylog/source/obj/ChristiAndersen.Easylog.csproj.nuget.g.props
/ChristiAndersen.Easylog/source/obj/ChristiAndersen.Easylog.csproj.nuget.dgspec.json
/ChristiAndersen.Easylog/source/obj/ChristiAndersen.Easylog.csproj.nuget.cache
/ChristiAndersen.Easylog/source/obj/Release/netstandard2.0/ChristiAndersen.Easylog.AssemblyInfoInputs.cache
/ChristiAndersen.Easylog/source/obj/Release/netstandard2.0/ChristiAndersen.Easylog.AssemblyInfo.cs
/ChristiAndersen.Easylog/source/obj/project.assets.json
/ChristiAndersen.Easylog/source/obj/Debug/netstandard2.0/ChristiAndersen.Easylog.pdb
/ChristiAndersen.Easylog/source/obj/Debug/netstandard2.0/ChristiAndersen.Easylog.dll
/ChristiAndersen.Easylog/source/obj/Debug/netstandard2.0/ChristiAndersen.Easylog.csproj.FileListAbsolute.txt
/ChristiAndersen.Easylog/source/obj/Debug/netstandard2.0/ChristiAndersen.Easylog.assets.cache
/ChristiAndersen.Easylog/source/obj/Debug/netstandard2.0/ChristiAndersen.Easylog.AssemblyInfoInputs.cache
/ChristiAndersen.Easylog/source/obj/Debug/netstandard2.0/ChristiAndersen.Easylog.AssemblyInfo.cs
*.cache
